{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<h4 style="text-align:center;font-family:sans-serif;font-size:25px;color:brown; font-weight:bold"><u>UPDATE DETAILS</u></h4><br>
<body style="background:#77bd82;">
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-warning" style="margin-left:10px;">Submit</button>
</form>
</body>
</html>
{% endblock %}